<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DebugHelp" version="0.3.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.0-alpha004" targetFramework="net452" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net452" />
  <package id="Zodiacon.WPF" version="1.2.5" targetFramework="net452" />
</packages>